@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

:root {
  --light: #FEFEFE;
  --dark: #202124;
  --h1-color: #7800FF;
}

* { padding: 0; margin: 0; box-sizing: border-box; }

a { text-decoration: none; color: inherit; }

.logo { fill: var(--dark); }

body {
  font: 24px/1.5 "Titillium+Web", sans-serif, "400";
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  body { background-color: var(--light); }
  .logo { fill: var(--dark); } }

@media (prefers-color-scheme: dark) {
  body { background-color: var(--dark); }
  .logo { fill: var(--light); } }

.container {
  display: grid;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-rows: .1fr 1fr .1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". main ."
    ". . .";
  width: 100%;
  height: 100vh;
}

.main {
  justify-self: center;
  align-self: center;
  grid-area: main;
  width: 200px;
  height: auto;
}


/* Contact Pop-Up Form
-------------------------------------------------- */
button { text-decoration: none; border: none; }

.popup-btn {
  position: absolute!important;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main-btn-rect,
.main-btn-circle {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--light);
  background-color: var(--dark);
  font-size: 25px;
  letter-spacing: 1px;  
  outline: none;
  cursor: pointer;
  z-index: 100;
}

.main-btn-rect { padding: 10px 20px; line-height: 30px; }

.main-btn-rect:before, 
.main-btn-rect:after {
  position: absolute;
  content: '';
  top:0;
  width: 0%;
  height: 100%;
  background-color: var(--dark);
  transition: width 0.3s;
}

.main-btn-rect:before { left: 0; }

.main-btn-rect:after { right: 0; }

.main-btn-rect:hover:before, 
.main-btn-rect:hover:after{ width: 50%; }

.main-btn-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  transition: box-shadow 0.3s;
}

.main-btn-circle:hover {   
  box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
}

.popup {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

.popup.active {
  top:0;
  background-color: rgba(3, 3, 3, 0.25); 
  transition: background-color .6s ,opacity .6s;
}

.popup .main-btn-rect { padding: 10px 100px; }

.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 750px;  /* Orig height: 568px, this is the height of the popup content box */
  min-width: 600px;   /* Orig width: 320px, this is the width of the popup content box */
  margin-top: 150px;
  padding: 25px;
  border-radius: 15px;
  color: var(--dark);
  background-color: var(--light);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transform: translateX(-50%) translateY(-50%);
  transition: margin .6s;
}

.popup.active .popup-content {
  margin-top: 0px;
}

.popup-content h6 {
  display: table;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;  
}

.form-group {
  position: relative;
  width: 90%;
  margin: 0px auto;
}

form#send input, form#send textarea {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  height: 29px;
  font-family: 'RobotoLight', sans-serif;
  text-indent: 20px;
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--dark);
  transition: border 0.6s;
}

form#send input:focus,
form#send textarea:focus {
  border-bottom: 1px dashed var(--h1-color); 
}

form#send label {
  position: absolute;
  top: 0;
  line-height: 28px;
  transition: color .5s;
}

form#send input:focus + label,
form#send textarea:focus + label {
  color: rgb(63, 173, 168);
}

form#send .txt {
  line-height: 22px;
  left: 2px;
}
